@{
    Layout = null;
}
@model MvcApplication1.Models.ProductModel
<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product page</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/themes/Suite.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        
       
            <table class="table">
                <thead>
                    <h3>Products:</h3>
                </thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Product type</th>
                    <th>count</th>
                </tr>
                    @foreach (var prod in Model.products)
                    {
                        <tr>
                            <td>@prod.Id</td>
                            <td>@prod.Name</td>
                            <td>@prod.Type</td>
                            <td>@prod.Count</td>
                            <td><a href="/ProductPage/Index/@prod.Id"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>
                        </tr>
                    }        
                
                        
                    
                    
        

            </table>
        <div>
            <div>
                <h2>Create new product:</h2>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <div> <label>Name:</label></div>
                    <div><label>Type:</label></div>
                    <div><label>Count:</label></div>
                </div>
                <div class="form-group">
                    <div><input class="text" id="Text1" type="text" /></div>
                    <div><input class="text" id="Text1" type="text" /></div>
                    <div><input class="text" id="Text1" type="text" /></div>
                </div>
            </div>
            <input class="btn btn-primary" id="Button1" type="button" value="Create" />
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>